<style>
  h3, p{
    font-family: sans-serif;
  }
  h3{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }

</style>
<div class="row">
  <h3> Details about <em> <%= @course.course %> </em> </h3>
  <p> Professor: <%= @course.prof %> </p>
  <p> Pre-Requirements: <%= @course.preReqs %> </p>
  <p> Course Description: <%= @course.description %> </p>
</div>
